@font-face {
  font-family: "satoshi BLACK";
  src: url("fonts/Satoshi-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "satoshi BLACK ITALIC";
  src: url("fonts/Satoshi-BlackItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "satoshi BOLD";
  src: url("fonts/Satoshi-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "satoshi LIGHT";
  src: url("fonts/Satoshi-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "satoshi MEDIUM";
  src: url("fonts/Satoshi-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "satoshi REGULAR";
  src: url("fonts/Satoshi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
